<!DOCTYPE html>
<html>
	<head>
		<title><%= str.title %></title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
		<link rel="stylesheet" href="/stylesheets/app.css" />
		<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	</head>
	<body>
		<div data-role="page">
			<div data-role="content">
				<h1 data-role="header" data-theme="f"><%= str.title %></h1>

				<div class="ui-grid-d favs">
					<div class="ui-block-a">
						<button type="button" data-theme="c">
							<span class="title">ARD</span>
							<div class="logo">
								<img src="images/stations/lores/ard_das_erste.png" />
							</div>
							<span class="epg">20:15 bis 21:45: Herbstkind</span>
						</button>
					</div>
					<div class="ui-block-b">
						<button type="button" data-theme="c">
							<span class="title">RTL</span>
							<div class="logo">
								<img src="images/stations/lores/rtl_de.png" />
							</div>
							<span class="epg">20:15 bis 21:15: Christopher Posch - Ich kämpfe für Ihr Recht!</span>
						</button>
					</div>
					<div class="ui-block-c">
						<button type="button" data-theme="c">
							<span class="title">Pro 7</span>
							<div class="logo">
								<img src="images/stations/lores/pro_sieben_de.png" />
							</div>
							<span class="epg">20:15 bis 21:15: Grey's Anatomy - Die jungen Ärzte</span>
						</button>
					</div>
					<div class="ui-block-d">
						<button type="button" data-theme="c">
							<span class="title">Sat 1</span>
							<div class="logo">
								<img src="images/stations/lores/sat1.png" />
							</div>
							<span class="epg">20:15 - 22:40: Hitch - Der Date Doktor</span>
						</button>
					</div>
					<div class="ui-block-e">
						<button type="button" data-theme="c">
							<span class="title">VOX</span>
							<div class="logo">
								<img src="images/stations/lores/vox_de.png" />
							</div>
							<span class="epg">20:15 bis 21:10 - Rizzoli &amp; Isles</span>
						</button>
					</div>
				</div>

				<ul data-role="listview">
					<li data-role="list-divider"><%= str.allchannels %></li>
					<% for(var i = 0, n = channels.length; i<n; i++) { %>
					<li><%- link_to(channels[i].name, 'channel/'+channels[i].idx) %></li>
					<% } %>
				</ul>
			</div>
		</div>
	</body>
</html>