@import "mixins.less";

.favs {
	margin-bottom: 25px;
}

.favs .ui-btn-inner {
	height: 180px;
	overflow: hidden;
}

/*
.favs .ui-btn-inner img {
	max-width: 100%;
	max-height: 90%;
}
*/

.favs .ui-btn-inner .logo {
	.boxlayout(horizontal);
	height: 95%;
	width: 100%;
}

.favs .ui-btn-inner .title {
	display: block;
	text-align: center;
}

.favs .ui-btn-inner .epg {
	display: none;
}