.boxlayout (@orient, @pack: center, @align: center) {
	/* Firefox */
	display: -moz-box;
	-moz-box-orient: @orient;
	-moz-box-pack: @pack;
	-moz-box-align: @align;

	/* Safari and Chrome */
	display: -webkit-box;
	-webkit-box-orient: @orient;
	-webkit-box-pack: @pack;
	-webkit-box-align: @align;

	/* W3C */
	display: box;
	box-orient: @orient;
	box-pack: @pack;
	box-align: @align;
}